

  <h1>{{title }}</h1>
  <!--<p>Welcome to {{title }}</p>-->
  <div> width:
    <button type="button" onclick="plusWidth()">+</button>
    <button type="button" onclick="minusWidth()">-</button>
  </div>
  <div> depth:
    <button type="button" onclick="plusDepth()">+</button>
    <button type="button" onclick="minusDepth()">-</button>
  </div>
  <div id="container"></div>